.contador {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.valueBox {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.time {
  font-size: 14px;
}

/* Media query para dispositivos móviles (ancho de pantalla menor a 768px) */
@media (max-width: 768px) {
  .contador {
    margin: 10px; /* Margen de 10px en dispositivos móviles */
    flex-direction: row; /* Apila los elementos uno encima del otro en dispositivos móviles */
    text-align: center;
  }
}