@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.contador {
  display: flex;
  padding-top: 20px;
  margin: 0 30%;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.valueBox {
  text-align: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.time {
  font-size: 14px;
}

/* Media query para dispositivos móviles (ancho de pantalla menor a 768px) */
@media (max-width: 768px) {
  .contador {
    margin: 5% 10%; /* Margen de 10px en dispositivos móviles */
    flex-direction: row; /* Apila los elementos uno encima del otro en dispositivos móviles */
    text-align: center;
  }
}