/* styles/Hero.module.css */
.hero {
  position: relative;
  height: 40rem;
  padding: 0;
  margin-inline: 60px;
  overflow: hidden;
      border-radius: 10px;
}

.heroContent {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: blur(1); /* El desenfoque inicial (sin pasar el mouse) */
  transition: filter 0.5s;
  overflow: hidden; /* Evita que el contenido se desborde en el hover */
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad (ajusta según lo desees) */
}


.heroTitle {
  font-size: 2rem; /* Ajusta el tamaño del título */
  color: #fafafa; /* Color del texto del título */
}

/* Estilos para la imagen */
.heroContent img {
  width: 100%; /* La imagen se ajustará al ancho de la sección */
  height: auto; /* Evitará que la imagen se deforme */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* La imagen está detrás del contenido */
}
