.contador {
    display: flex;
    justify-content: space-around;
  }
  
  .valueBox {
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
  }
  
  .value {
    font-size: 24px;
    font-weight: bold;
  }
  
  .time {
    font-size: 14px;
  }
  