body {
    margin: 0;
    padding: 0;
    background: #fafafa; /* Cambia los colores según tu paleta */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif; /* Elige tu fuente preferida */
  }
  
  /* Ajusta los estilos de los breakpoints */
  @media screen and (max-width: 768px) {
    section {
      padding: 50px 0; /* Ajusta para dispositivos más pequeños */
    }
  }